:root {
    --espresso: #2B1B14;
    --buttercream: #daae75;
    --gold-accent: #A8C3A0;
    --cocoa: #6F4E37;
    --caramel: #D89C60;
    --text: var(--caramel);

    --h1: 3rem;
    --h2: 2.5rem;
    --h3: 2rem;
}

body {
    font-family: 'Barrio', cursive;
    background-color: var(--buttercream);
    color: var(--text);
}

.header-container {
    width: 100%;
    height: 10vh;
    background-color: var(--espresso);
    color: var(--caramel);
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-direction: column-reverse;
    padding-left: 10%;
    padding-right: 10%;
    z-index: 0;
}

.nav-container {
    display: flex;
    justify-content: space-between;
}

.right-container {
    display: flex;
    gap: 120px;
}

.nav-button {
    font-weight: bold;
}

.nav-button:hover {
    color: var(--cocoa);
    transition: 0.3s;
    cursor: pointer;
}

h1 {
    font-size: var(--h1);
    font-family: 'Barrio', cursive;
}

h2 {
    font-size: var(--h2);
    font-family: 'Barrio', cursive;
}

h3 {
    font-size: var(--h3);
    font-family: 'Barrio', cursive;
}

.footer-container {
    background-color: var(--espresso);
    color: var(--buttercream);
    text-align: center;
    padding: 20px 0;
}

.footer-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0;
}

.footer-section {
    text-align: center;
}